body {
    font-family: sans-serif;
    border: 4px #444444 solid;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    background-color: #f7f7f7;
    font-size: 22px;
}

.price {
    font-size: 22px;
}