* {
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    margin: 20px auto;
    font-family: sans-serif;
    border: 4px #444444 solid;
}

.heading-container {
    background-color: #f7f7f7;
    padding: 20px 0;
}

h2 {
    text-align: center;
}

h2,
.price {
    font-size: 22px;
}

.image-post {
    margin-bottom: 5px;
}

.price {
    margin-bottom: 5px;
}

h2,
h3,
.shipping {
    text-transform: uppercase;
}

.shipping {
    color: #5d5d5d;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 10px;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

li {
    list-style-type: square;
}

button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

button:hover {
    color: #000000;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}