* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 900px;
    margin: 50px auto;
    font-family: sans-serif;
    border: 4px #444444 solid;
}

.heading-container {
    position: relative;
    background-color: #f7f7f7;
    padding: 15px 0;
}

h2 {
    text-align: center;
}

h2,
.price {
    font-size: 22px;
}

p.sale-tag {
    display: inline-block;
    position: absolute;
    background-color: rgb(236, 52, 52);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 10px;
    letter-spacing: 2px;
    top: -12px;
    left: -28px;
}

.image-post {
    margin-bottom: 5px;
    float: left;
}

.description-container {
    width: 240px;
    margin: 20px 40px;
    float: left;
}

.price {
    margin-bottom: 5px;
}

h2,
h3,
.shipping {
    text-transform: uppercase;
}

.shipping {
    color: #5d5d5d;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 10px;
}

.more-info {
    margin-bottom: 30px;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.colors-container {
    margin-bottom: 20px;
}

.black-option,
.blue-option,
.red-option,
.gold-option,
.green-option,
.brown-option {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 15px;
}

.brown-option {
    margin-right: 0;
}

.black-option {
    background-color: #000000;
}

.blue-option {
    background-color: #0000ff;
}

.red-option {
    background-color: #ff0000;
}

.gold-option {
    background-color: #daa520;
}

.green-option {
    background-color: #87d217;
}

.brown-option {
    background-color: #a52a2a;
}

.details-container {
    width: 240px;
    margin: 20px 40px;
    float: right;
}

h3 {
    margin-bottom: 20px;
}

li {
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 20px;
}

.cart-button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 15px 0;
}

.cart-button:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    border-top: 4px solid #444444;
}